{% extends 'base.html.twig' %}

{% block title %}Symfony RestaurantS{% endblock %}

{% block body %}
  <!-- Image header -->
  <div class="w3-display-container w3-container">
    <img src="{{ asset('assets/img/' ~ chosenResto.getPicture('full')) }}" alt="Restaurant" style="width:100%">
    <div class="w3-display-topleft w3-text-white" style="padding:24px 48px">
      <h1 class="w3-jumbo w3-hide-small">Essayez ce Restaurant</h1>
      <h1 class="w3-hide-large w3-hide-medium">{{ chosenResto.category.name }}</h1>
      <h1 class="w3-hide-small">{{ chosenResto.name|upper }}</h1>
      <p><a href="{{ path('index_restaurant', {'restaurantId' : chosenResto.id}) }}" class="w3-button w3-black w3-padding-large w3-large">VISITEZ</a></p>
    </div>
  </div>
  
  <div class="w3-container w3-text-grey" id="jeans">
    <p>8 items</p>
  </div>

  <!-- Product grid -->
  <div class="w3-row w3-grayscale">
      {% for restaurantPair in restaurantList %}
    <div class="w3-col l3 s6">
        {% for restaurant in restaurantPair %}
          <div class="w3-container">
            <a href="{{ path('index_restaurant', {'restaurantId' : restaurant.id}) }}">
            <img src="{{ asset('assets/img/' ~ restaurant.getPicture('thumb')) }}" style="width:100%">
            </a>
            <p>{{ restaurant.name }}<br><b>Visiter</b></p>
          </div>
        {% endfor %}
    </div>
        {% endfor %}
  </div>
{% endblock %}
